body {
   width: 100%;
   height: auto;
}

body,html {
   overflow-x: hidden;
}

.bodywrapper {
   height: 100vh;
   width: 100%;
}

.header {
   width: 100%;
   height: 48px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   background-color: #f9f8fd;
}

.header__nav {
   height: 41px;
   width: 92%;
   background-color: #fff;
   border-radius: 75px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   background-image: url('images/logoname.svg');
   width: 40px;
   height: 15px;
   background-size: cover;
   background-repeat: no-repeat;
   margin-left: 15px;
}

.pc_menu {
   display: none;
}

.solo {
   display: none;
}

.waysign {
   width: 9px;
   margin-right: 5px;
}

.entry {
   padding: 0;
   margin: 0;
   width: 78px;
   height: 29px;
   background-color: #38BFF2;
   border-radius: 34px;
   border: none;
   color: #fff;
   font-family: 'Gilroy-Medium';
   font-size: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.menu_burger {
   width: 17px;
   height: 14px;
   margin-right: 14px;
   position: relative;
   display: block;
}

.menu_burger span, .menu_burger:after, .menu_burger:before{
   height: 2px;
   width: 100%;
   position: absolute;
   background: #F15525;
   margin: 0 auto;
}
.menu_burger span{
   top: 6px;
}
.menu_burger:after, .menu_burger:before{
   content: '';
}

.menu_burger::before {
   top: 0px;
}

.menu_burger:after {
   bottom: 0px;
}

.header_nav_elements {
   position: absolute;
   z-index: 10;
   height: 576px;
   width: 100%;
   max-width: 256px;
   border-radius: 20px;
   background-color: #fff;
   top: 14px;
   right: 10px;
   display: none;
}

.bg {
   background-color: rgba(34, 37, 59, 0.9);
   position: fixed;
   width: 100vw;
   height: 100vh;
   display: none;
   z-index: 9;
}

.popapquest {
   width: 94%;
   max-width: 600px;
   height: auto;
   background-color: #fff;
   display: none;
   border-radius: 30px;
}

.standartwindow {
   width: 100%;
   height: 100%;
   position: relative;
}

.inactive {
   display: none !important;
}

.popapquest .main__top__button {
   width: 64%;
   max-width: 191px;
   height: 54px;
   margin-bottom: 40px;
}

.popap__header {
   width: auto;
   max-width: 213px;
   margin-top: 45px;
   text-align: center;
   font-family: 'Gilroy-SemiBold';
   font-size: 16px;
   line-height: 21px;
   margin-bottom: 13px;
}

.popap__p {
   width: auto;
   max-width: 264px;
   text-align: center;
   font-family: 'Gilroy-Regular';
   font-size: 12px;
   line-height: 18px;
   margin-bottom: 24px;
}

.closepopap {
   width: 15px;
   height: 15px;
   background-image: url('images/closesign.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   position: absolute;
   top: 15px;
   right: 15px;
}

.popapquest.open-menu {
   display: block;
   pointer-events: all;
}

.popapquest.open-menu .standartwindow{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.question1 {
   width: 100%;
   height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   padding: 32px;
   box-sizing: border-box;
}

.question1__row {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.row1_block {
   width: 129px;
   height: 41px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #eaeaea;
   border-radius: 49px;
   color: #22253B;
   font-family: 'Gilroy-Regular';
   font-size: 14px;
   line-height: 26px;
   margin-bottom: 22px;
}

.row2__p {
   width: auto;
   height: auto;
   margin-bottom: 52px;
   color: #22253B;
   font-family: 'Gilroy-Regular';
   font-size: 15px;
   line-height: 22px;
}

.row3__left {
   min-width: 343px;
   width: auto;
   height: 90px;
}

.quest1__form {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}

.quest1__form label {
   color: #22253B;
   font-family: 'Gilroy-Medium';
   font-size: 15px;
   line-height: 24px;
   display: flex;
   align-items: center;
}

.quest1__form input
{
   display: none;
}

.question1__radio {
   display: block;
   width: 22px;
   height: 22px;
   border-radius: 4px;
   background-color: #eaeaea;
   margin-right: 18px;
}

.row3__right {
   width: 132px;
   height: 90px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}

.row3__right .question1__button {
   width: 100%;
   height: 49px;
   margin: 0;
   font-family: 'Gilroy-Medium';
   font-size: 15px;
}

.bg_header_gray {
   background-color: #F2F8FA;
   width: 100%;
   height: 200px;
   position: absolute;
   z-index: -1;
}

body.open-menu{
   pointer-events: none;
   overflow: hidden;
}

html.open-menu {
   overflow: hidden;
}

body.open-menu .bg {
   display: flex;
   align-items: center;
   justify-content: center;
}

.header_nav_elements.open-menu {
   display: block;
   pointer-events: all;
}

.closesign {
   width: 15px;
   height: 15px;
   background-image: url('images/closesign.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   position: absolute;
   top: 25px;
   right: 18px;
}

.menu {
   height: auto;
   width: auto;
   position: absolute;
   top: 53px;
   left: 30px;
}

.menu li {
   width: auto;
   height: 40px;
}

.menu__item {
   text-decoration: none;
   font-family: 'Gilroy-medium';
   font-size: 20px;
   color: #22253B;
}

.menu__item:hover {
   color: #F15525;
}

.menu__waysign {
   width: 15px;
   height: 13px;
   margin-right: 8px;
}

.menu__entry {
   padding: 0;
   margin: 0;
   width: 133px;
   height: 49px;
   background-color: #38BFF2;
   border-radius: 34px;
   border: none;
   color: #fff;
   font-family: 'Gilroy-Medium';
   font-size: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   bottom: 34px;
   left: 30px;
}

.entry:hover, .menu__entry:hover {
   background-color: #F15525;
}

.main {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   position: relative;
}

.background-circles {
   background-color: #f8fdfe;
   border-radius: 100%;
   width: 250px;
   height: 250px;

   box-shadow: 0px 0px 0px 3px #fff,
               0px 0px 0px 60px #F2F8FA,
               0px 0px 0px 63px #fff,
               0px 0px 0px 130px #F2F8FA,
               0px 0px 0px 133px #fff,
               0px 0px 0px 200px #F2F8FA,
               0px 0px 0px 203px #fff;
   position: absolute; 
   z-index: -3;
   top: 382px;
}

.circles-for-pc {
   display: none;
}

.computer {
   position: absolute;
   width: 210px;
   height: 220px;
   z-index: 1;
   top: 25px;
   left: 26px;
}

.main__top-information {
   width: 90%;
   max-width: 300px;
   margin: 0 auto;
   height: auto;
   padding-top: 24px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.circles-bg-wrapper {
   margin-bottom: 404px;
   width: 100%;
}

.main__top__header {
   width: 100%;
   height: auto;
   font-family: 'Gilroy-SemiBold';
   font-size: 24px;
   text-align: center;
   color: #22253B;
   line-height: 24px;
   margin-bottom: 27px;
}

.orange {
   margin: 0 5px;
   color: #F15525;
   font-size: 20px;
}

.central {
   font-family: 'Gilroy-SemiBoldItalic';
}

.main__top__p
{
   height: auto;
   width: 93%;
   text-align: center;
   font-family: "Gilroy-Regular";
   font-size: 12px;
   color: #22253B;
   line-height: 18px;
   margin-bottom: 20px;
}

.main__top__button {
   width: 100%;
   height: 70px;
   border-radius: 82px;
   color: #fff;
   background-color: #F15525;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Gilroy-Regular";
   font-size: 18px;
   text-align: center;
}

.main__top__button:hover {
   background-color: #38BFF2;
}

.main__top__button img {
   margin-left: 10px;
}

.button_down {
   width: 37px;
   height: 37px;
   border-radius: 100%;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   padding: 0;
   position: absolute;
   top: 645px;
   margin-left: 3px;
}

.button_bg {
   width: 100%;
   max-width: 370px;
   height: 87px;
   position: absolute;
   z-index: -1;
   top: 660px;
   background-size: cover;
   background-repeat: no-repeat;
}

.button_bg_gray {
   height: 50px;
   width: 100%;
   max-width: 300px;
   position: absolute;
   top: 660px;
   background-color: #F2F8FA;
   z-index: -2;
}

.button_bg_white{
   height: 200px;
   width: 100%;
   position: absolute;
   top: 660px;
   background-color: #fff;
   z-index: -3;
}

.technologies {
   width: 100%;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   text-align: center;
   padding-top: 100px;
}

.tech_header {
   font-family: 'Gilroy-SemiBold';
   font-size: 24px;
   width: 283px;
   height: auto;
   margin-bottom: 22px;
   text-align: center;
   max-width: none;
}

.skills__section {
   background-color: #eaf2f5;
   width: 93%;
   max-width: 600px;
   height: 300px;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   padding: 4px 0px 9px 0px;
   margin-bottom: 54px;
}

.skills__section-dis {
   display: none;
}

.section_row {
   width: 89%;
   height: 15%;
   border-radius: 44px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #fff;
   font-family: 'Gilroy-Regular';
   font-size: 14px;
   text-align: center;
}

.row_block {
   border-radius: 44px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.blue {
   background-color: #5096FF;
   width: 100%;
   height: 100%;
}

.yellow {
   background-color: #FFB359;
   width: 37%;
}

.red {
   background-color: #FF6F50;
   width: 60%;
}

.green {
   background-color: #4BD071;
   width: 100%;
   height: 100%;
}

.light_blue {
   background-color: #50C0FF;
   width: 100%;
   height: 100%;
}

.dark_blue {
   background-color: #4B77B9;
   width: 48%;
}

.purple {
   background-color: #AF93FF;
   width: 48%;
}

.learning-in-YtYt {
   width: 100%;
   height: auto;
   background-color: #fff;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 12px;
   margin-bottom: 28px;
}

.advantages {
   width: 93%;
   max-width: 600px;
   display: grid;
   background-color: #fff;
   gap: 10px;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 175px 155px 175px 86px;
}

.advantage__item {
   background-color: #eaf2f5;
   border-radius: 20px;
   display: flex;
}

.last-item {
  grid-column: span 2;
}

.wrapper {
   margin: auto;
   width: auto;
   height: 74%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.wrapper.last {
   height: auto;
   width: auto;
   flex-direction: row;
}

.item__img {
   width: 40px;
   margin-bottom: 10%;
}

.item__header {
   font-family: 'Gilroy-SemiBold';
   font-size: 12px;
   text-align: center;
   line-height: 12px;
   color: #22253B;
   margin: 0;
   margin-bottom: 6%;
}

.item__p {
   font-family: 'Gilroy-Regular';
   font-size: 9px;
   line-height: 12px;
   text-align: center;
   color: #22253B;
}

.wrapper__last {
   height: 52%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   margin-left: 20px;
}

.wrapper__last .item__header {
   margin-bottom: 5px;
}

.wrapper__last .item__p {
   text-align: start;
}

.how-to-learn {
   height: auto;
   width: 94%;
   max-width: 1160px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 30px;
}

.how-to-learn__p {
   font-family: 'Gilroy-Regular';
   font-size: 12px;
   line-height: 17px;
   text-align: center;
   margin-bottom: 40px;
}

.how-to-learn__videoblock {
   width: 76%;
   max-width: 600px;
   background-color: #fff;
   border-radius: 10px;
   padding: 10px 7px;
   position: relative;
}

.how-to-learn__videoblock::before {
   content: "";
  display: block;
  padding-top: 58%;
}

iframe {
   border-radius: 10px;
   width: 100%;
   height: 100%;
   position:  absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

.big_gray_wrapper {
   width: 100%;
   height: auto;
   background-color: #f9f8fd;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.learning-steps {
   height: 690px;
   width: 94%;
   max-width: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   border-radius: 30px;
   background-color: #fff;
   margin-bottom: 15px;
}

.learning-steps__item {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   height: 162px;
   width: 81%;
}

.step__header-num {
   font-family: "Gilroy-Bold";
   font-size: 50px;
   line-height: 30px;
   color: #38BFF2;
   height: 38px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.step__header {
   font-family: "Gilroy-SemiBold";
   font-size: 20px;
   line-height: 19px;
   color: #22253B;
}

.step__header__dis, .step__p_dis {
   display: none;
}

.second_header {
   font-size: 17px;
}

.step__p {
   font-family: "Gilroy-Regular";
   font-size: 12px;
   line-height: 14px;
   color: #22253B;
}

.row {
   height: 1px;
   width: 81%;
   background-color: #EAF2F5;
}

.start-lessons {
   height: 150px;
   width: 94%;
   max-width: 600px;
   border-radius: 30px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   margin-bottom: 62px;
}

.start-lessons .main__top__button {
   max-width: 250px;
}

.lesson_p {
   font-family: "Manrope-Semibold";
   font-size: 13px;
   line-height: 18px;
   color: #22253B;
   text-align: center;
   width: 249px;
}

.help-and-support {
   border-radius: 30px;
   background-color: #fff;
   width: 100%;
   height: 1060px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin-bottom: 60px;
}

.help-and-support-dis {
   display: none;
}

.photo_block {
   width: 94%;
   height: 22%;
   max-width: 600px;
   background-color: #EAF2F5;
   border-radius: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.help__item {
   height: auto;
   width: 94%;
   max-width: 600px;
   background-color: #EAF2F5;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.item1 {
   min-height: 27%;
}

.item2 {
   min-height: 22%;
}

.help-header {
   font-family: "Gilroy-SemiBold";
   font-size: 20px;
   line-height: 19px;
}

.help-p {
   font-family: "Gilroy-Regular";
   font-size: 12px;
   line-height: 17px;
}

.help__wrapper {
   width: 87%;
   height: auto;
   min-height: 74%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
}

.learning-cost {
   width: 77%;
   height: auto;
   min-height: 450px;
   max-width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;
}

.learning-cost-dis {
   display: none;
}

.cost-header {
   font-family: 'Gilroy-SemiBold';
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   margin-bottom: 30px;
}

.cost__photo {
   margin: 0 auto 11px auto;  
}

.cost__p {
   font-family: 'Gilroy-Regular';
   font-size: 12px;
   line-height: 17px;
   text-align: center;
   margin-bottom: 30px;
}

.last_p{
   margin-bottom: 0;
}

.mobile-way_wrapper {
   display: flex;
   margin: 0 auto 20px 9%;
   border: none;
   padding: 0;
   background-color: inherit;
}

.mobile-way_wrapper img{
   margin: auto 0;
}

.mobile-way_wrapper img:first-child {
   margin-right: 6px;
}

.table-info {
   width: 97%;
   height: auto;
   background-color: white;
   margin-left: auto;
   border-bottom-left-radius: 30px;
   border-top-left-radius: 30px;
   overflow-x: scroll;
   margin-bottom: 25px;
}

.cost_table {
   width: 1081px;
   height: 425px;
   border-collapse: collapse;
}

.table__tr {
   width: 100%;
   height: 50px;
}

.table__td {
   padding: 0px;
   font-family: 'Gilroy-Regular';
   font-size: 20px;
   line-height: 25px;
}

.table__tr .table__td:nth-child(1) {
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   width: 48%;
   padding-left: 20px;
}

.table__tr .table__td:nth-child(3) {
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   width: 25%;
}

.gray__tr {
   background-color: #f3f3f3;
}

.white__tr, .first__tr, .last__tr
{
   background-color: #fff;
}

.first__tr {
   color: #38BFF2;
   font-family: 'Gilroy-Bold';
   font-weight: bold;
   line-height: 25px;
   padding-bottom: 20px;
}

.first__tr .table__td {
   font-size: 16px;
}

.last__tr {
   color: #22253B;
   font-family: 'Gilroy-Bold';
   font-weight: 900;
   font-size: 24px;
   line-height: 25px;
   padding-top: 20px;
}

.post-scriptum {
   width: auto;
   max-width: 196px;
   font-family: 'Gilroy-Regular';
   font-size: 12px;
   line-height: 20px;
   margin: 0 auto 50px 50px;
   color: #8E8E8E;
}

.warning-information {
   width: 94%;
   max-width: 600px;
   height: auto;
   min-height: 415px;
   padding: 35px 0 54px 0;
   background-color: #EAF2F5;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.warning__img {
   width: 75px;
   margin-bottom: 25px;
}

.warning__p {
   font-family: 'Gilroy-Regular';
   font-size: 12px;
   line-height: 22px;
   text-align: center;
   margin-bottom: 16px;
}

.warning__p-dis
{
   display: none;
}

.warning-information .main__top__button {
   height: 60px;
   width: 86%;
   font-size: 15px;
   max-width: 257px;
}

.warning-information .main__top__button img {
   width: 12px;
}

.footer {
   padding-top: 40px;
   min-height: 670px;
   height: auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   background-color: #f9f8fd;
}

.footer-dis {
   display: none;
}

.information__header {
   max-width: 257px;
   width: 80%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer__logo {
   background-image: url('images/logoname.svg');
   width: 87px;
   height: 32px;
   background-size: cover;
   background-repeat: no-repeat;
}

.logo__name {
   font-family: 'Gilroy-Regular';
   font-size: 15px;
   line-height: 19px;
   color: #8E8E8E;
}

.information__icons {
   height: auto;
   width: 59%;
   max-width: 188px;
   min-width: 130px;
   display: flex;
   align-items:  center;
   justify-content: space-between;
}

.icons__ico {
   width: 18%;
   min-width: 30px;
}

.footer_nav {
   height: 170px;
   width: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.fnav__li__a {
   text-decoration: none;
   font-family: 'Gilroy-Regular';
   font-size: 13px;
   color: #22253B;
}

.contacts {
   max-width: 147px;
   width: auto;
   height: 47px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   font-family: 'Gilroy-Regular';
   font-size: 16px;
}

.telephone {
   color: #38BFF2;
}

.email {
   color: #22253B;
}

.extrainfo {
   height: auto;
   min-height: 69px;
   font-family: 'Gilroy-Regular';
   font-size: 13px;
   line-height: 23px;
   text-align: center;
   color: #8E8E8E;
}

.row_span{
   width: 94%;
   max-width: 600px;
   height: 1px;
   background-color: #D8D8D8;
}

.rigths {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;
   font-family: 'Gilroy-Regular';
   font-size: 12px;
   line-height: 23px;
   text-align: center;
}

.black_span {
   color: #8E8E8E;
   margin-bottom: 13px;
}

.orange_span {
   color: #F15525;
   margin-bottom: 6px;
}

.deleted-item {
   display: none;
}

@media (max-width: 305px)
{
   .footer__logo {
      width: 60px;
      height: 25px;
      min-width: 35px;
      background-size: contain;
      background-position: center;
      margin-right: 10px;
   }

   .tech_header {
      width: auto;
      max-width: 95%;
   }
}

@media (max-width: 279px)
{
   .main__top__button img, .orange {
      display: none;
   }

   .central {
      word-wrap: break-word;
   }

   .button_bg, .button_bg_gray, .button_bg_white {
      top: 675px
   }

   .header_nav_elements.open-menu {
      width: 90%;
      height: 400px;
   }

   .menu__item {
      font-size: 16px;
   }

   .menu {
      left: 10px;
   }

   .menu__entry {
      left: 15px;
      width: 110px;
      height: 45px;
   }

   .background-circles {
      width: 150px;
      height: 150px;
      top: 485px
   }

   .computer {
      height: 140px;
      top: 6px;
      left: 4px;
   }

   .section_row {
      font-size: 12px;
   }

   .circles-bg-wrapper  {
      margin-bottom: 350px;
   }

   .advantages {
      grid-template-rows: 175px 155px 190px 86px;
      gap: 5px;
   }

   .item__img {
      width: 30px;
   }

   .item__header {
      font-size: 10px;
      line-height: 12px;
   }

   .item__p {
      font-size: 8px;
      line-height: 12px;
   }

   .step__header-num {
      font-size: 35px;
      line-height: 26px;
   }
   
   .step__header {
      font-size: 17px;
      line-height: 17px;
   }
   
   .step__p {
      font-size: 10px;
      line-height: 12px;
   }

   .learning-steps {
      height: auto;
      min-height: 580px;
   }

   .learning-steps__item {
      height: auto;
      min-height: 140px;
   }

   .second_header {
      font-size: 15px;
   }

   .help-header {
      font-size: 17px;
   }

   .help-p {
      font-size: 10px;
   }

   .item1, .item2 {
      height: auto;
      padding: 5px 0;
      min-height: 250px;
      margin: 10px 0;
   }

   .help__wrapper {
      height: auto;
      min-height: 74%;
   }

   .photo_block {
      height: 15%;
   }

   .photo_block:first-child {
      margin-top: 10px;
   }

   .photo_block img {
      width: 95%;
      max-width: 170px;
   }

   .help-and-support {
      height: auto;
      margin-bottom: 30px;
   }

   .start-lessons {
      margin-bottom: 31px;
   }

   .cost-header {
      font-size: 20px;
      margin-bottom: 15px;
   }

   .cost__p {
      font-size: 10px;
      line-height: 14px;
      margin-bottom: 15px;
   }

   .cost__photo {
      width: 45px;
   }

   .lesson_p {
      width: auto;
   }
   
}

@media (max-width: 230px)
{
   .circles-bg-wrapper  {
      margin-bottom: 270px;
   }

   .footer__logo {
      display: none;
   }

   .information__header {
      width: 100%;
   }

   .logo__name {
      font-size: 13px;
      margin: auto;
      text-align: center;
   }
}

@media (max-width: 160px)
{
   .circles-bg-wrapper  {
      margin-bottom: 200px;
   }
   
}

@media (min-width: 450px) {
   .advantages {
      grid-template-rows: 245px 225px 245px 116px;
   }

   .item__img {
      width: 60px;
   }

   .item__header {
      font-size: 18px;
      line-height: 18px;
   }

   .item__p {
      font-size: 12px;
      line-height: 15px;
   }
}

@media (min-width: 599px) {
   .main__top__header {
      font-size: 26px;
      line-height: 25px;
   }

   .main__top__p {
      font-size: 14px;
      line-height: 20px;
   }

   .how-to-learn__p {
      font-size: 14px;
      line-height: 19px;
   }

   .skills__section {
      height: 400px;
   }

   .section_row {
      font-size: 17px;
   }

   .advantages {
      grid-template-rows: 325px 305px 325px 156px;
   }

   .item__img {
      width: 80px;
   }

   .item__header {
      font-size: 22px;
      line-height: 22px;
   }

   .item__p {
      font-size: 14px;
      line-height: 18px;
   }

   .step__header-num {
      font-size: 60px;
      line-height: 30px;
      height: 50px;
   }
   
   .step__header {
      font-size: 26px;
      line-height: 25px;
   }
   
   .step__p {
      font-size: 15px;
      line-height: 17px;
   }

   .learning-steps__item {
      height: 200px;
   }

   .second_header {
      font-size: 23px;
   }

   .learning-steps {
      height: 850px;
   }

   .lesson_p {
      font-size: 16px;
      line-height: 20px;
      width: 320px;
   }

   .gray-bg-big {
      top: 3100px;
      height: 1200px;
   }
}

@media (min-width: 899px) {
   .header__nav {
      height: 51px;
      max-width: 1160px;
   }

   .logo {
      width: 53px;
      height: 20px;
   }

   .pc_menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 500px;
   }

   .pc_menu__item {
      text-decoration: none;
      font-family: 'Gilroy-Regular';
      font-size: 13px;
      color: #22253B;
   }

   .pc_menu__item:hover {
      color: #F15525;
   }

   .menu_burger {
      display:  none;
   }

   .entry {
      margin-right: 10px;
      margin-left: 15px;
   }

   .but_wrapper {
      display: flex;
      align-items: center;
   }

   .solo {
      display: block;
   }

   .main__top-information {
      height: auto;
      width: 92%;
      max-width: 1160px;
      align-items: flex-start;
      margin-top: 60px;
      margin-bottom: 100px;
      padding: 0;
   }

   .main__top__header {
      width: 638px;
      font-size: 46px;
      line-height: 46px;
      font-family: 'Gilroy-Regular';
      text-align: start;
      margin-bottom: 46px;
   }

   .main__top__p {
      width: 365px;
      font-size: 16px;
      line-height: 23px;
      font-family: 'Gilroy-Regular';
      text-align: start;
      margin-bottom: 18px;
   }

   .orange {
      font-size: 46px;
      margin: 0;
      font-weight: bold;
   }

   .main__top__button {
      width: 321px;
      height: 70px;
   }

   .tech_header {
      max-width: none;
      font-size: 46px;
      line-height: 46px;
      margin-bottom: 35px;
   }

   .skills__section {
      padding: 0;
      height: 396px;
      width: 92%;
      max-width: 1160px;
      margin-bottom: 84px;
   }

   .advantages {
      width: 93%;
      height: 535px;
      max-width: 1160px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background-color: #fff;
   }

   .advantages br {
      display: none;
   }

   .advantage__item {
      width: 23%;
      height: 254px;
   }

   .advantages .advantage__item:nth-child(5)
   {
      margin-right: 24px;
      margin-left: auto;
   }

   .advantages .advantage__item:nth-child(7)
   {
      margin-left: 24px;
      margin-right: auto;
   }

   .advantages .advantage__item:nth-child(2) .item__header
   {
      width: auto;
      max-width: 200px;
   }

   .last-item {
      display: none;
   }

   .deleted-item {
      display: block;
      background-color: #eaf2f5;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .item__img {
      width: 58px;
      height: 58px;
   } 

   .item__header {
      font-size: 16px;
      width: 166px;
      line-height: 18px;
   }

   .learning-in-YtYt {
      padding-bottom: 84px;
      margin-bottom: 0;
   }

   .how-to-learn__p {
      width: 642px;
      font-size: 16px;
   }

   .learning-steps {
      max-width: 1160px;
      min-width: 875px;
      width: 83%;
      flex-direction: row;
      height: 349px;
      margin-bottom: 26px;
   }

   .learning-steps__item {
      height: 237px;
      width: auto;
   }

   .row {
      width: 1px;
      height: 259px;
   }

   .step__header-num {
      font-size: 77px;
   }

   .step__header, .step__p{
      display: none;
   }

   .step__header__dis, .step__p_dis {
      display: block;
   }

   .step__header__dis {
      font-family: 'Gilroy-SemiBold';
      font-size: 24px;
      line-height: 30px;
      color: #22253B;
   }

   .step__p_dis
   {
      font-family: 'Gilroy-Regular';
      font-size: 16px;
      line-height: 23px;
      color: #22253B;
   }

   .start-lessons {
      flex-direction: row;
      width: 538px;
      height: 93px;
      margin-bottom: 90px;
   }

   .lesson_p {
      width: 214px;
      text-align: start;
      font-size: 15px;
      line-height: 18px;
   }

   .help-and-support {
      display: none;
   }

   .help-dis-wrapper-outline {
      height: 813px;
      width: 100%;
      border-radius: 80px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 90px;
   }

   .help-and-support-dis {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 83%;
      max-width: 1160px;
      height: 633px;
   }

   .help-dis_row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .help-dis-photo:nth-child(1) {
      width: 35%;
      height: 313px;
      border-radius: 40px;
      background-color: #EAF2F5;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .help-dis-photo:nth-child(1) img {
      width: 68%;
   }

   .help-dis-photo:nth-child(2) {
      width: 35%;
      height: 290px;
      border-radius: 40px;
      background-color: #EAF2F5;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .help-dis-photo:nth-child(2) img {
      width: 65%;
   }

   .help-dis__textblock__wrapper:nth-child(1) {
      width: 63%;
      height: 290px;
      border-radius: 40px;
      background-color: #EAF2F5;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .help-dis__textblock__wrapper:nth-child(2) {
      width: 63%;
      height: 313px;
      border-radius: 40px;
      background-color: #EAF2F5;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .help-dis__textblock {
      display: block;
      width: auto;
      height: auto;
      margin: auto;
   }

   .help-dis__textblock__header {
      font-family: 'Gilroy-Semibold';
      font-size: 32px;
      line-height: 30px;
      margin-bottom: 23px;
      color: #22253B;
   }

   .help-dis__textblock__p {
      font-family: 'Gilroy-Regular';
      font-size: 16px;
      line-height: 25px;
      color: #22253B;
   }

   .help-dis__textblock__wrapper:nth-child(2) .help-dis__textblock__p:first-of-type {
      margin-bottom: 23px;
   }

   .learning-cost {
      display: none;
   }

   .learning-cost-dis {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 83%;
      max-width: 1160px;
      min-height: 144px;
      height: auto;
      margin-bottom: 40px;
   }

   .cost-dis__header {
      font-family: 'Gilroy-SemiBold';
      font-size: 46px;
      line-height: 46px;
      color: #22253B;
      margin-bottom: 35px;
   }

   .cost-dis__wrapper {
      width: 100%;
      min-height: 63px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .cost-dis__item {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
   }

   .cost-dis__photo {
      width: 60px;
      margin-right: 30px;
   }

   .last-dis-photo {
      width: 48px;
   }

   .cost-dis_p {
      font-family: 'Gilroy-Regular';
      font-size: 16px;
      line-height: 21px;
      color: #22253B;
      text-align: start;
   }

   .mobile-way_wrapper {
      display: none;
   }

   .table-info {
      height: 500px;
      max-width: 1160px;
      margin: auto;
      border-radius: 30px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .cost_table {
      width: 93%;
   }

   .post-scriptum {
      font-size: 16px;
      width: 83%;
      max-width: 1160px;
      margin: 25px auto 33px auto;
      padding-left: 50px;
   }

   .warning-information {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 83%;
      max-width: 1160px;
      min-height: auto;
      height: 218px;
      padding: 63px 10px;
      margin-bottom: 60px;
      box-sizing: border-box;
   }

   .warning__p {
      display: none;
   }

   .warning__p-dis {
      display: block;
      width: 600px;
      height: 88px;
      font-family: 'Gilroy-Regular';
      font-size: 17px;
      line-height: 22px;
      color: #22253B;
      text-align: start;
      padding: 0 6px;
   }

   .warning__img {
      width: 90px;
      margin: 0;
   }

   .popapquest.open-menu {
      max-width: none;
      width: 740px;
      height: auto;
      min-height: 380px;
   }

   .popap__header {
      max-width: 506px;
      font-size: 24px;
      line-height: 26px;
      margin-top: 55px;
      margin-bottom: 22px;
   }

   .popap__p {
      max-width: 515px;
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 20px;
   }

   .main__top__button.popapbut {
      height: 70px;
      width: 197px;
      margin: 0;
   }

   .closepopap {
      top: 20px;
      right: 25px;
   }

   .footer {
      display: none;
   }

   .footer-dis {
      display: block;
      height: 305px;
      background-color: #f9f8fd;
      padding-bottom: 30px;
   }

   .footer-dis__wrapper {
      width: 93%;
      max-width: 1160px;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
   }

   .footer-dis__mainblock {
      width: 100%;
      height: 176px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
   }

   .footer-dis__mainblock__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
   }

   .fitem1 {
      min-width: 257px;
      height: 113px;
      margin-right: auto;
   }

   .fitem1__logoname {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .logo__name {
      font-size: 16px;
   }

   .information__icons {
      width: 188px;
   }

   .icons__ico {
      width: 35px;
   }

   .fitem2 {
      margin-right: 15%;
   }

   .footer_nav {
      align-items: flex-start;
      width: 121px;
   }

   .fnav__li__a:hover {
      color: #F15525;
   }

   .fitem3 {
      width: 160px;
      height: 181px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
   }

   .contacts {
      align-items: flex-start;
   }

   .extrainfo {
      text-align: start;
   }

   .footerrow {
      width: 100%;
      height: 1px;
      background-color: #D8D8D8;
   }

   .footer-dis__littleblock {
      width: 100%;
      height: 23px;
      display: flex;
   }

   .gray_span {
      display: block;
      width: auto;
      font-family: 'Gilroy-Regular';
      font-size: 16px;
      line-height: 23px;
      color: #8E8E8E;
   }

   .gray_span:nth-child(1) {
      margin-right: auto;
   }

   .gray_span:nth-child(2) {
      margin-right: 5%;
   }

   .tech_header {
      width: 665px;
   }

   .skills__section {
      display: none;
   }

   .skills__section-dis {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 83%;
      max-width: 1160px;
      height: 396px;
      border-radius: 48px;
      margin-bottom: 84px;
      background-color: #EAF2F5;
   }

   .skills-dis-left {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
   }

   .man_with_pc {
      width: 407px;
   }

   .skills-dis-right {
      min-width: 467px;
      width: auto;
      min-height: 231px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 10px;
   }

   .skills-block {
      height: auto;
      min-width: 467px;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 15px;
   }

   .skill-block__row {
      height: 45px;
      width: auto;
      display: flex;
      margin-bottom: 10px;
   }

   .block__row__item {
      font-family: 'Gilroy-Regular';
      font-size: 17px;
      height: 45px;
      border-radius: 44px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
   }

   .blueblock {
      width: 311px;
      background-color: #5096FF;
   }

   .yellowblock {
      width: 89px;
      background-color: #FFB359;
   }

   .redblock {
      width: 151px;
      background-color: #FF6F50;
   }

   .greenblock {
      width: 277px;
      background-color: #4BD071;
   }

   .lightblueblock {
      width: 258px;
      background-color: #50C0FF;
   }

   .darkblueblock {
      width: 95px;
      background-color: #4B77B9;
   }

   .purpleblock {
      width: 94px;
      background-color: #AF93FF;
   }

   .skills-right__p {
      font-family: 'Gilroy-SemiBold';
      font-size: 20px;
      line-height: 25px;
      text-align: start;
      width: 385px;
      height: 50px;
      color: #22253B;
   }

   .button_down {
      top: 514px;
      z-index: 4;
   }

   .button_bg {
      top: 524px;
      z-index: 3;
   }

   .button_bg_gray {
      top: 524px;
      z-index: 2;
      background-color: #f5f7fb;
   }

   .button_bg_white {
      top: 524px;
      height: 45px;
      z-index: 1;
   }

   .tech_header {
      width: 770px;
      z-index: 5;
   }

   .how-to-learn__p {
      width: 642px;
      text-align: center;
   }

   .background-circles
   {
      display: none;
   }

   .computerpc {
      width: 390px;
      position: absolute;
      left: 1100px;
   }

   .main-inf-wrapper {
      width: 100%;
      max-width: 1160px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('images/biglastpc.png');
      background-color: #f9f8fd;
      background-position: 80%;
      background-size: 200%;
      background-repeat: no-repeat;
   }

   .circles-bg-wrapper {
      width: 100%;
      background-color: #f9f8fd;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px;

   }

   .how-to-learn {
      padding-top: 55px;
      background-image: url('images/biglastpc.png');
      background-color: #f9f8fd;
      background-position:  top 85% right 12%;
      background-size: 400%;
      background-repeat: no-repeat;
   }

   .how-to-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f9f8fd;
   }
}

@media (max-width: 970px) and  (min-width: 899px)
{
   .help-dis__textblock {
      margin-left: 10px;
   }

   .skills__section-dis {
      height: 330px;
   }

   .warning__p-dis {
      height: 150px;
      padding-left: 15px;
   }

   .warning-information {
      height: 280px;
   }
}

